@use "../../styleguide.scss" as styleguide;

section {
  @include styleguide.flexBoxColumnAligenCenter;
  height: 100%;
  padding: 0;
  .textBox {
    margin-bottom: 50px;
    margin-top: 0;
    h1{
      @include styleguide.h2Style;
      margin-bottom: 2rem;
    }
    h2{
      @include styleguide.pStyle;
      text-align: center
    }
  }

  .imageBoxResult {
    @include styleguide.flexBoxRow;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 80%;
    max-width: 1200px;

    margin-bottom: 60px;

    .imageInBoxResult {
      height: 75%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
