@use "../../styleguide.scss" as styleguide;

#gameOver {
  @include styleguide.flexBoxColumnAligenCenter;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background: url("../../assets/img/gameOver.png");
  background-size: cover;
  background-position: center;
  background-position-x: calc(50% + 35px);
  background-repeat: no-repeat;

  .textBox{
    margin-bottom: 200px;
  }
}
