$gray200: #c0bfc4;
$gray900: #1e1d20;
$satin-sheen-gold: #d5ac4eff;
$golden-brown-dark: #3a290d;
$red: #A2354A;
$green: #235739;

@font-face {
  font-family: "CrimsonPro";
  src: url("./assets/fonts/CrimsonPro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Dosis";
  src: url("./assets/fonts/Dosis-VariableFont_wght.ttf");
}

@mixin flexBoxColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexBoxColumnAligenCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexBoxRow {
  display: flex;
  flex-direction: row;
}

@mixin h1Style {
  font-family: "CrimsonPro";
  font-size: 7.2rem;
  font-weight: 600;
  word-spacing: -4%;
  color: $golden-brown-dark;
}

@mixin h2Style {
  font-family: "CrimsonPro";
  font-size: 4.8rem;
  font-weight: 600;
  word-spacing: -4%;
  color: $golden-brown-dark;
}

@mixin pStyle {
  font-family: "CrimsonPro";
  font-size: 3.2rem;
  font-weight: 600;
  word-spacing: -4%;
  color: $golden-brown-dark;
}

@mixin mainText {
  font-family: "Dosis";
  font-size: 1.6rem;
  font-weight: 600;
  color: $gray900;
  margin: 5px;
}

@mixin buttonStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 350px;
  border-radius: 20px;
  background-color: $satin-sheen-gold;
  font-family: "CrimsonPro";
  font-size: 2.4rem;
  font-weight: 600;
  word-spacing: -4%;
  color: $gray900;
}

@mixin backgroundGradient{
  background: linear-gradient(147deg, rgba(192,191,196,1) 0%, rgba(233,211,160,1) 100%);
}
